#logoSO{
	float: left;
	margin: 5px 5px 0 -150px;
}
#pc14, #pc9, #pc4{
	margin: 10px 10px 10px 120px;
}
#pc0{
	margin: 10px 150px 10px 10px;
	float: right;
}
#observaciones{
	float: left;
}
#observaciones textarea{
	margin: 13px 0 0 12px;
}
#divEnviar{
	margin: 10px 0;
}
#divCerrar{
	width: 33px;
	height: 18px;
	margin: 10px 0 -40px 0;
	position: relative;
	top: 78px;
	left: 1115px;
}
.ordenador textarea, .ordenador p{
	margin: 12px 0 6px 10px;
}